<template>
<center-content>
  <h2>flutter</h2>
</center-content>
</template>

<style>
</style>

<script>
export default {
  components: { },
  head () {
    return {
      title: 'Albert Abril'
    }
  }
}
</script>