<template>
<center-content>
  <div v-for="learning in learnings" >
    <Card :title="lab.title" :link="lab.link"  :image="lab.image" :description="project.description" />
  </div>
</center-content>
</template>

<style>
</style>

<script>
import Card from '~/components/Card'

const learnings = [
]

export default {
  components: { Card },
  data () {
    return {
      learnings: learnings
    }
  },
  head () {
    return {
      title: 'Albert Abril'
    }
  }
}
</script>