<template>
  <div class="">
    <TopBar/>
    <nuxt/>
    <Clicky/>
  </div>
</template>

<script>
import TopBar from '~/components/TopBar.vue'
import Clicky from '~/components/Clicky.vue'

export default {
  components: {
    TopBar,
    Clicky
  }
}
</script>

<style>
html, body {
  background-color: rgb(244,244,244);
}
</style>