<template>
<div class="center">
  <div class="pt5 center w-90">
    <div class="flex flex-wrap justify-center">
      this project does not exists, let's take a look to my existinng projects
    </div>
  </div>
  </div>
</template>

<style>
</style>

<script>
export default {
  head () {
    return {
      title: 'Albert Abril'
    }
  }
}
</script>