<template>
<div class="center">
  <div class="pt5 center w-90">
    <div class="flex flex-wrap justify-center">
      <div v-for="project in projects" >
        <Card :title="project.title" :link="project.link"  :image="project.image" :description="project.description" />
      </div>
    </div>
  </div>
  </div>
</template>

<style>
</style>

<script>
import Card from '~/components/Card'

const projects = [
  {
    title: 'Terra',
    description: `
        Quite affectionate and outgoing.
        She loves to get chin scratches and will
        roll around on the floor waiting for you give her more of them.
    `,
    link: '/projects/terra',
    image: '/icons/real/terra_satellite.jpg'
  },
  {
    title: 'Sputnik',
    description: `
        Quite affectionate and outgoing.
        She loves to get chin scratches and will
        roll around on the floor waiting for you give her more of them.
    `,
    link: '/projects/sputnik',
    image: '/icons/real/sputnik.jpg'
  },
  {
    title: 'CryptoBot',
    description: `
        Quite affectionate and outgoing.
        She loves to get chin scratches and will
        roll around on the floor waiting for you give her more of them.
    `,
    link: '/projects/cryptobot',
    image: '/icons/real/cryptobot.png'
  },
  {
    title: 'NuxtCommerce',
    description: `
        Quite affectionate and outgoing.
        She loves to get chin scratches and will
        roll around on the floor waiting for you give her more of them.
    `,
    link: '/projects/cryptobot',
    image: '/icons/real/cryptobot.png'
  }
]

export default {
  components: { Card },
  data () {
    return {
      projects: projects
    }
  },
  head () {
    return {
      title: 'Albert Abril'
    }
  }
}
</script>