<template>
<div class="center">
  <center-content>
    <h2> terra</h2>
  </center-content>
</div>
</template>
<script>
import CenterContent from '~/components/CenterContent.vue'

export default {
  components: {
    CenterContent
  },
  head () {
    return {
      title: 'Albert Abril > Projects > terra'
    }
  }
}
</script>