<template>
  <article class="bg-animate bg-white br3 pa3 pa4-ns mv1 mh2 ba b--black-10">
    <a :href="link" class="link">
      <div class="tc">
        <img :src="image" class="br-100 h3 w3 dib" title="Photo of a kitty staring at you">
        <h1 class="f4">{{ title }}</h1>
        <hr class="mw3 bb bw1 b--black-10">
      </div>
      <p class="lh-copy measure center f6 black-70">
        {{ description }}
      </p>
    </a>
  </article>
</template>

<style scoped>
article:hover {
  border-color: #cdcecc;
}
</style>

<script>
export default {
  props: [ 'title', 'link', 'image', 'description' ]
}
</script>