<template>
<div>
  <div v-for="item in items" >
    <Card :title="item.title" :link="item.link"  :image="item.image" :description="item.description" />
  </div>
</div>
</template>

<script>
import Card from '~/components/Card'
export default {
  components: { Card },
  props: [ 'items' ]
}
</script>