<template>
  <nav class="dt-l w-100 border-box pv3 ph5">
    <div>
      <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="/" title="Home">
        <img src="http://tachyons.io/img/logo.jpg" class="dib w2 h2 br-100" alt="Site Name">
      </a>
    </div>
    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
      <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/" title="Home">Home</a>
      <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/projects" title="How it Works">Projects</a>
      <a class="link dim dark-gray f6 f5-l dib" href="/contact" title="Contact">Contact</a>
    </div>
  </nav>
</template>

<style>
</style>

<script>
export default {
}
</script>