<template>
<div class="center">
  <div class="pt5 center w-90">
    <div class="flex flex-wrap justify-center">
      <card-list :items="labs"></card-list>
    </div>
  </div>
  </div>
</template>

<style>
</style>

<script>
import CardList from '~/components/CardList'

const labs = [
  {
    title: 'Lab1',
    description: `
        Quite affectionate and outgoing.
        She loves to get chin scratches and will
        roll around on the floor waiting for you give her more of them.
    `,
    link: '/projects/terra',
    image: '/icons/real/terra_satellite.jpg'
  },
  {
    title: 'Lab2',
    description: `
        Quite affectionate and outgoing.
        She loves to get chin scratches and will
        roll around on the floor waiting for you give her more of them.
    `,
    link: '/projects/sputnik',
    image: '/icons/real/sputnik.jpg'
  },
  {
    title: 'Lab3',
    description: `
        Quite affectionate and outgoing.
        She loves to get chin scratches and will
        roll around on the floor waiting for you give her more of them.
    `,
    link: '/projects/cryptobot',
    image: '/icons/real/cryptobot.png'
  }
]

export default {
  components: { CardList },
  data () {
    return {
      labs: labs
    }
  },
  head () {
    return {
      title: 'Albert Abril'
    }
  }
}
</script>