<template>
<center-content>
  <h2>markdown sample</h2>
</center-content>

</template>

<script>
// TODO: 
// https://github.com/nuxt-community/modules/tree/master/packages/markdownit
</script>

<style>
</style>