<template>
<div class="center">
  <div class="pt5 center w-90">
    <div class="flex flex-wrap justify-center">
      albert abril
    </div>
  </div>
  </div>
</template>

<script>
export default {
  async asyncData () {
  },
  head () {
    return {
      title: 'Albert Abril'
    }
  }
}
</script>

<style>
  body {
    background: rgb(244, 244, 244);
    height: 100%;
  }
</style>